@font-face {
    font-family: "eb_garamond";
    src: url("../../assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}


body{
    font-size: 0;
    margin: 0;
    background-color: #E5E5E5;
    font-family: "eb_garamond", serif;
}

div{
    font-size: 16px;
}

div#header{
    background-color: #14213D;
    text-align: center;
    color: #FCA311;
    height: 250px;
    
}

h1#titoloSistemaSolare{
    text-align: center;
    line-height: 250px;
    margin: 0;
    font-size: 50px;
    text-shadow: 2px 2px 2px white;
    
}

div#informazioniSistemaSolare{
    border: 3px solid black;
    background-color: #FCA311;
    padding: 20px;
    margin: 30px;
}

h2#titoloInfSisSol{
    text-align: center;
}

li{
    list-style-image: url(../../assets/img/icons8-pianeta-10.png);
}

h3.nomePianeta{
    text-align:center;
}

div.pianeta{
    margin: 30px;
    border: 2px solid black;
    width: calc(33.33% - 60px);
    display: inline-block;
}

div.head{
    border-bottom: 2px solid black;
}

div.contenuto{
    padding: 15px;
}

div.foot{
    border-top: 2px solid black;
    font-size: 18px;
}

p.altreInformazioni{
    text-align: center;
}

div#footer{
    height: 150px;
    background-color: #FCA311;
}

pre{
    font-family: "eb_garamond", serif;
}

span#nome{
    text-decoration: underline;
    color: blue;
}

span#licenza{
    font-size: smaller;
}